<div class='password'>
   <div class='title'>
      <input class='input' [type]="changetype? 'password': 'text'" [(ngModel)]="password"
         (keyup)="checkPasswordStrength() " (keyup.enter)="resetPassword()" placeholder="Try it here ...">
      <span class='eyeicon' (click)="viewpass()">
         <img [ngClass]="visible ? 'eye-opened' : 'eye-closed'"
            src="assets/img/{{visible ? 'eye-opened.svg' : 'eye-closed.svg'}}" width='25' height='25' />
      </span>
      <div class='image-wrapper'>
         <img src='assets/img/arr.png' class='image' />
      </div>
   </div>
   <div class='password-strength'>
      <div [style.background-color]="passwordStrength[0]"></div>
      <div [style.background-color]=" passwordStrength[1]"></div>
      <div [style.background-color]="passwordStrength[2]"></div>
   </div>
</div>
