<div class='password'>
   <div class='title'>
      <input class='input' type="password" [(ngModel)]="password" (keyup)="checkPasswordStrength() "
         (keyup.enter)="resetPassword()" placeholder="Try it here ...">
      <div class='image-wrapper'>
         <img src='assets/img/arr.png' class='image' />
      </div>
   </div>
   <div class='password-strength'>
      <div [style.background-color]="passwordStrength[0]"></div>
      <div [style.background-color]=" passwordStrength[1]"></div>
      <div [style.background-color]="passwordStrength[2]"></div>
   </div>
</div>
